.navbar {
    background: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    max-width: 1000px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 60px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-link:hover {
    background: #575757;
    border-radius: 4px;
}